

/*--parallax--*/

.parallax-home-1{
    background: url("pictures/background.jpeg") fixed;
    background-size: cover;
    background-position: 50% 0;
}

.parallax-inner{
    padding: 5% 0;   
}

#parallax-home-2{
    padding: 5%;
    width: 100%;
    height: inherit 100%;
    text-align: center;
}

.parallax-inner h1, h2{
    color: yellow;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*carousel*/
 

/*bootstrap customizations*/

@media (max-width: 768px) {
    .col-xs-12 {
        text-align: center;
    }
}