/*custom html*/
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding 0px;
	font-family: Raleway, sans-serif !important;
}

body {
	//background: black;
}

h1 {
	font-weight: bolder;
}
/*--parallax--*/

.parallax-home-1{
    background: url("pictures/background.jpeg") fixed;
    background-size: cover;
    background-position: 50% 0;
}

.parallax-inner{
    padding: 5% 0;   
}

#parallax-home-2{
    padding: 5%;
    width: 100%;
    height: inherit 100%;
    text-align: center;
}

.parallax-text {
    color: blue;
}

.parallax-window {
    min-height: 350px;
    background: transparent;
}

/*carousel*/

/*form*/
.form-heading {
    padding: 2px;
}

/*fix for white space created by form-group*/
.form-group{
    width: 100%;
}


/*footer*/
#footer {
    background: #999;
    display: inline-block;
    width: 100%;
}

.footer-img img{
	transition: filter .7s;
	-webkit-transition: filter .7s;
	transition: transform .7s ease;
	-webkit-transition: -webkit-transform .7s ease;
}

.footer-img img:hover {
	filter: brightness(0) invert(1);
	-webkit-filter: brightness(0) invert(1);
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.footer-img a {
	padding: 10px;
}

/*bootstrap customizations*/

.navbar {
	position: absolute;
	z-index: 30;
	width: 100%;
	background: #222;
	border-radius: 0px;
	border: 5px;
}

.navbar-default .navbar-nav > li > a, .dropdown-tab {
	color: #d1d1d1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: white;
}


#dropdown-container {
	background-color: #d3d3d3;
	color: black;
}

#dropdown-container > li > a{
	color: black;
}

#dropdown-container > li > a{
	color: black;
}

#dropdown-container > li > a:focus,
#dropdown-container > li > a:focus{
	color: #f1f1f1;
}

/*navbar hamburger animation*/
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-toggle span.icon-bar{
	transition: all 0.5s;
}

.navbar-toggle span:nth-of-type(2) {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle span:nth-of-type(3) {
	opacity: 0;
}

.navbar-toggle span:nth-of-type(4) {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
	transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
	opacity: 1;
}

/*Form CSS*/
.control-label {
	font-weight: bolder;
	font-size: 18px;
}

/**/

.ngview{
	padding-top: 50px;
}

.jumbotron {
	margin-bottom: 0;
	background-color: #efecec;
}

.jumbotron-burgundy {
	//background-color: #800040;
}

.text-white {
	color: white;
}

@media (max-width: 768px) {
    .jumbotron, .parallax-text, .center-header-xs {
        text-align: center;
    }
}