<section class="parallax-window" data-parallax="scroll" data-image-src="pictures/background.jpeg">
    <div class="parallax-inner">
        <div class="container-fluid">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 parallax-text">
                <h1>Automatic, interactive, re-imagined</h1>
                <h2>Unlimited Shots Photobooth is a local business in the bay area which not only capture your moments, but your memories</h2>    
            </div>
        </div>
    </div>
</section>

<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Redesign the way you remember</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>We are your photobooth without limits. We <strong>engage</strong>. We <strong>communicate</strong>. We <strong>create</strong>. From customizing your backgrop to tailoring the print layout, the customer-centric team echoes the spirit of celebration from the beginning.</h3>
            <h3>You've seen the automated camera and wall-free structure. Quality hardware with the sleekest, first-class casing.</h3>
            <h3>But hey, we're fully addaptable. It fits anywhere! Adjusting to virtually any ballroom, backyard, mall, coliseum, street and more. </h3>
        </div>
    </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="pictures/snip1.png">
    <div class="parallax-inner">
        <div class="container-fluid">
            <div id="parallax-home-2" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 parallax-text">
                <h1>Your memories here</h1>
                <a class="btn btn-primary" href="">See your photos</a>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron text-center">

    <div class="container-fluid text-center">
        <h1>People who love us!</h1>
        
        <div id="Carousel" class="carousel slide hidden-xs">

            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="carousel-inner">
                        <div class="item active">
                            <blockquote class="blockquote-reverse">
                                <p>{{quote1.message}}</p>

                                <footer>{{quote1.name}}</footer>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="blockquote-reverse">
                                <p>{{quote2.message}}</p>

                                <footer>{{quote2.name}}</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="right carousel-control" data-target="#Carousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
        </div>
        
        <div class="visible-xs">
            <blockquote class="blockquote-reverse">
                <p>{{quote1.message}}</p>
                <footer>{{quote1.name}}</footer>
            </blockquote>
            
            <blockquote class="blockquote-reverse">
                <p>{{quote2.message}}</p>
                <footer>{{quote2.name}}</footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="pictures/background.jpeg">
    <div class="parallax-inner"></div>
</div>

<!---->

<h1 class="form-heading text-center">Lets get in touch!</h1>

<!--<form id="gform" name="form" class="form-horizontal" method="POST" action="https://script.google.com/macros/s/AKfycbymadn_P80fYxhIAdYK969rPzl-NSgcYh_rWYIQ3tdDQ5gAxxw_/exec" novalidate>-->
<form id="gform" name="form" class="form-horizontal" method="POST" action="https://script.google.com/macros/s/AKfycbymadn_P80fYxhIAdYK969rPzl-NSgcYh_rWYIQ3tdDQ5gAxxw_/exec" novalidate>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name*</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="user.name" id="name" name="name" required="true" placeholder="Name"/>
        </div>
        <div ng-show="form.name.$touched && form.name.$invalid">
            <p class="text-center">Enter a valid name</p>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email address*</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" ng-model="user.email" id="email" name="email" required="true" placeholder="Email"/>
        </div> 
        <div ng-show="form.email.$touched && form.email.$invalid">
            <p class="text-center">Enter a valid email</p>
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone*</label>
        <div class="col-sm-10">
            <input type="tel" class="form-control" ng-model="user.phone" id="phone" name="phone" required="true" placeholder="(XXX) XXX-XXXX"/>
        </div>
        <div ng-show="form.phone.$touched && form.phone.$invalid">
            <p class="text-center">Enter a valid number</p>
        </div>
    </div>
    <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message*</label>
        <div class="col-sm-10">
            <textarea type="message" class="form-control" ng-model="user.message" id="message" name="message" required="true" placeholder="Message" rows="3"/>
        </div>    
        <div ng-show="form.message.$touched && form.message.$invalid">
            <p class="text-center">Enter a valid message</p>
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-default submit" ng-disabled="form.$invalid" name="submit"></button>
    </div>
</div>
</form>


<!-- Customise the Thankyou Message People See when they submit the form: -->
<div style="display:none;" id="thankyou_message">
	<h2><em>Thanks</em> for contacting us!
  	We will get back to you soon!</h2>
</div>

     <!--<script data-cfasync="false" type="text/javascript" src="form-submission-handler.js"></script>-->

    <script type="text/javascript" src="script.js"></script>